.Message {
    margin-top: 1rem;
    margin-bottom: 1rem;
    padding: 4px 8px;
    background-color: #4791db;
    border-radius: 1rem;
    display: flex;
    width: max-content;
    flex-direction: column;
    margin: 1rem;
}

.author {
    margin-top: 0;
    margin-bottom: 0;
}
.value {
    margin-top: 0;
    margin-bottom: 0;
}